$primary_color: rgb(201, 229, 238);

body {
  background-color: $primary_color;
  font: {
    family: Verdana, Helvetica, Arial;
    size: 14px;
  }
}

a {
  color: rgb(20, 50, 100);
  text-decoration: none;
  font-weight: bold;
  border: 1px solid rgb(20, 50, 100);
  border-radius: 5px;
  
  img {
    border: none;
  }
}

.clear {
  clear: both;
  height: 0;
  overflow: hidden;
}

#container {
  width: 75%;
  margin: 0 auto;
  background: #fff;
  padding: 20px 40px;
  border: solid 1px black;
  margin-top: 20px;
}

#content {
  clear: both;
  padding-top: 20px;
}
